.cda__container {
    max-width: 1400px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 2rem;
    width: 100%;
}

.cda__container.cda__container-spacer {
    margin-top: 10vh;
}